<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Capital.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D04180781BC1A8C200D4AC16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D06B80391BA5599D00258C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0803FE11BC1A4E40096951C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0803FEF1BC1A5260096951C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
